@font-face
  font-family: 'EB Garamond'
  src: local('EBGaramond-Regular'), url('../fonts/EBGaramond-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EB Garamond'
  src: local('EBGaramond-Bold'), url('fonts/EBGaramond-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
